# Frontend
PUBLIC_API_URL=https://api.rubennmg.cloud

# Backend
APP_ENV=staging
CORS_ALLOWED_ORIGINS=https://rubennmg.cloud,https://www.rubennmg.cloud,https://rubennmg.com,https://www.rubennmg.com
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
ENABLE_DEMO_DATA=false
AUTH_SECRET_KEY=change-me
AUTH_COOKIE_NAME=rubennmg_session
AUTH_SESSION_DAYS=7

# Database
POSTGRES_PASSWORD=change-me
