---
import Header from '../components/Header.astro';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/person.svg" />
		<title>rubennmg</title>
	</head>
	<body class="bg-background">
		<Header />

		<p class="text-df-text text-3xl p-6">In development...</p>
	</body>
</html>
