---
// interface Props {

// }

// const { ... } = Astro.props;
---

<header class="bg-background border-b border-solid border-b-secondary sticky top-0 bg-opacity-70">
    <div class="max-w-screen-xl flex items-center justify-between mx-52 p-4">
        <!-- logo -->
        <img src="/person.svg" alt="logo" class="w-10" />
        <span class="self-center text-3xl font-semibold whitespace-nowrap text-df-text px-4">rubennmg</span>
        <!-- items -->
        <div class="container flex items-center justify-center py-2 mx-auto text-gray-600 dark:text-gray-300">
            <a 
                class="text-df-text text-xl hover:bg-secondary rounded-xl border border-primary border-x-2 px-2 py-1 transition mx-2.5"
                href="/">sobre mí</a>
    
            <a class="text-df-text text-xl hover:bg-secondary rounded-xl border border-primary border-x-2 px-2 py-1 transition mx-2.5"
                href="/">formación</a>
    
            <a class="text-df-text text-xl hover:bg-secondary rounded-xl border border-primary border-x-2 px-2 py-1 transition mx-2.5"
                href="/">proyectos</a>
    
            <a 
                class="text-df-text text-xl hover:bg-secondary rounded-xl border border-primary border-x-2 px-2 py-1 transition mx-2.5"
                href="/">contacto</a>
        </div>
    </div>
</header>