---
// interface Props {

// }

// const { ... } = Astro.props;
---

<header class="bg-navbar mx-auto">
    <navbar>  
        <div class="max-w-screen-xl flex items-center justify-between mx-52 p-4">
            <!-- logo -->
            <img src="/person.svg" alt="logo" class="w-10" />
            <span class="self-center text-3xl font-semibold whitespace-nowrap text-df-text p-4">rubennmg</span>
            <!-- items -->
            <div class="container flex items-center justify-center p-6 mx-auto text-gray-600 dark:text-gray-300">
                <a 
                    class="text-df-text text-xl hover:bg-secondary rounded-xl border border-primary border-x-2 px-2 py-1 transition mx-2.5"
                    href="/" >sobre mí</a>
        
                <a class="text-df-text text-xl hover:bg-secondary rounded-xl border border-primary border-x-2 px-2 py-1 transition mx-2.5"
                    href="/">formación</a>
        
                <a class="text-df-text text-xl hover:bg-secondary rounded-xl border border-primary border-x-2 px-2 py-1 transition mx-2.5"
                    href="/">proyectos</a>
        
                <a 
                    class="text-df-text text-xl hover:bg-secondary rounded-xl border border-primary border-x-2 px-2 py-1 transition mx-2.5"
                    href="/">contacto</a>
            </div>
        </div>
    </navbar>
</header>